.booking header, .booking header .header {
    /* background: var(--body); */
    min-height: 40vh;
    height: max-content;
}

/* .booking header .content {
    margin-top: 6rem;
} */

.booking .navbar {
    background: var(--black);
    position: relative;
}

.booking h3 {
    background: linear-gradient(90deg, var(--black), var(--fade-shadow), var(--shadow), var(--body), var(--shadow), var(--fade-shadow), var(--black));
    padding: var(--side-padding);
    text-transform: capitalize;
}

.booking section {
    padding: 0;
}

.booking .plan-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    padding: var(--side-padding);
    grid-gap: 10px;
}

.booking .plan {
    border: 1px solid var(--black);
    border-radius: var(--radius);
    cursor: pointer;
    padding: .5rem 1rem;
}

.booking .plan:hover {
    background: var(--black);
}

.booking .plan h4 {
    /* padding: .5rem 0; */
    font-size: 150%;
    font-weight: 300;
}

.booking button .icon{
    display: none;
}

.booking .plan button {
    /* transform: scale(.9); */
    width: 140px;
    margin-right: .5rem;
}

.booking .plan .right button:first-child {
    background: var(--shadow);
}

.booking .plan .right {
    margin-top: .5rem;
}

@media only screen and (max-width: 430px) {
    .booking .plan-box {
        grid-template-columns: 1fr;
        font-size: 90%;
    }

    .booking .plan button {
        width: 50%;
    }
}