.errorpage .image {
    height: 300px;
    /* width: 300px; */
}

.errorpage p {
    width: 400px;
    font-size: 80%;
    margin-top: -1.5rem;
}

.errorpage button {
    scale: .9;
    margin-top: .65rem;
    font-size: 90%;

}

@media only screen and (max-width: 420px) {
    .errorpage p {
        width: 90vw;
    }

}