header {
    --url: url('../../../public/images/header.jpg'), var(--overlay);
    padding: var(--side-padding);
}

header .content {
    width: 500px;
    margin-top: 7rem;
}

header h1 {
    font-size: 300%;
    line-height: 1.2;
}

header .content button {
    margin-top: 13px;
}