

header {
    /* --url: url('../../../public/images/header.jpg'), rgba(0, 0, 0, 0.905); */
    --url: url('../../../public/images/header.jpg'), rgba(0, 0, 0, 0.905);
    background-attachment: fixed;
    padding: 0;
    color: var(--white);

    min-height: 500px;
    height: 100vh;
}

header .grid-patterns {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10vw);
    opacity: 0.05
}

header .grid {
    border-right: 1px solid var(--white);
}

header .grid:last-of-type {
    border: none;
}


header .content {
    padding: var(--side-padding);
    width: 800px;
}

header h1 {
    font-size: 400%;
    font-weight: 500;
    word-spacing: 5px;
    line-height: 1;
}

header h1 span {
    color: var(--light-cool);
}

header .content p {
    /* width: 70%; */
    padding: .75rem 0;
    word-spacing: 2.5px;
    font-weight: 300;
}


.search-box {
    /* padding: var(--side-padding); */
    margin-top: .5rem;
    padding-bottom: 0;
    padding-top: 0;
    /* margin-top: calc(70px / -2); */
}

.search-box input {
    background: transparent;
    color: var(--white);
    font-size: 130%;
    font-weight: 300;
    padding: 1rem;
    border: none;
    outline: none;
    width: calc(100% - 70px);
}

.search-box .box {
    background: var(--black);
    height: 70px;

}

.search-box .icon-button button, .search-box .icon-button {
    height: 100%;
    width: 70px;
    font-size: 120%;
}

@media only screen and (max-width: 800px) {
    header .content {
        width: 100%;
    }
}


@media only screen and (max-width: 535px) {
    header .content {
        font-size: 80%;
    }

    .search-box .box {
        height: 50px
    }
}

@media only screen and (max-width: 435px) {
    header h1 {
        font-size: 300%;
    }
}

@media only screen and (max-width: 335px) {
    header h1 {
        font-size: 280%;
    }
}