
.icon-button button span {
    display: none;
}

.icon-button button {
    height: 40px;
    width: 40px;
    padding: 0;
}

.icon-button .icon {
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 120%;
}