
.input {
    border: 1px solid var(--shadow);
    border-radius: var(--radius);
}

input {
    border: none;
    outline: none;
    padding: .65rem;
    font-family: inherit;
    /* font-size: inherit; */
}

.input .icon {
    --size: 40px;
    cursor: pointer;
}