/* 
.input {
    border: 1px solid var(--shadow);
    border-radius: var(--radius);
    overflow: hidden;
}

input {
    border: none;
    outline: none;
    padding: .65rem;
    font-family: inherit;
    font-size: inherit;
    width: calc(100% - 40px);
}

.input .icon {
    --size: 40px;
    cursor: pointer;
} */