
.navbar .logo {
    height: 30px;
    margin-top: -.5rem ;
    margin-right: 1.5rem;
    margin-left: -.9rem;

    /* border-left: 5px solid var(--secondary); */
}

.navbar {
    /* background: var(--overlay); */
    padding: var(--side-padding);
    /* color: var(--white); */
}

.navbar.active {
    background: var(--white);
    transform: scale(.95);
}

.navbar button {
    margin-left: .5rem;
}

.mobile {
    display: none;
}

.menu-btn {
    --size: 40px;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 200%;
    /* color: var(--cool); */
}

.menu-btn:hover {
    background: var(--cool);
}

@media only screen and (max-width: 1024px) {
    .navbar .desktop {
        display: none;
    }

    .navbar .mobile {
        display: flex;
    }
}