
.navbar .logo {
    height: 30px;
    margin-top: -.5rem ;
    margin-right: 1.5rem;
    margin-left: -.9rem;

    /* border-left: 5px solid var(--secondary); */
}

.navbar {
    /* background: var(--overlay); */
    padding: var(--side-padding);
    /* color: var(--white); */
}

.navbar button {
    margin-left: .5rem;
}