
.search-box {
    margin-top: -5rem;
    padding: var(--side-padding);
}

.search-box .box {
    background: var(--white);
    box-shadow: 0 0 5px var(--fade-shadow);
    border-radius: var(--radius);
    height: 115px;
    padding: 1rem 2rem;
}

.search-box h3 {
    padding-bottom: 1rem;
    line-height: 1;
    font-weight: 600;
    font-size: 95%;

}

.search-box .input {
    margin-right: 1rem;
    width: calc(100% - 100px);
}

.search-box .icon-button {
    margin-left: .5rem;
}

.search-box  input {
    font-size: 100%;
}

@media only screen and (max-width: 540px) {
    .search-box {
        padding: .5rem;
    }

    .search-box .box {
        padding: 1.5rem;
    }

    .search-box .input {
        margin-right: .05rem;
    }

}