
.search-box {
    margin-top: 4rem;
}

.search-box .box {
    background: var(--white);
    box-shadow: -5px -5px 5px var(--fade-shadow);
    border-radius: var(--radius);
    height: 115px;
    /* padding: var(--side-padding); */
    padding: 1rem 2rem;
}

.search-box h3 {
    padding-bottom: 1rem;
    line-height: 1;
}

.search-box .input {
    margin-right: 1rem;
}

@media only screen and (max-width: 1145px) {
    .search-box {
        width: 100%;
    }

    .search-box .input {
        --width: 50px;
        width: var(--width);
        transition: .1s;
    }

    .search-box .input input {
        width: 0;
        padding: 0;
        height: 40px;
    }

    .search-box .input.active {
        width: calc(100% - (var(--width) * 2));
        color: var(--black);
    }

    .search-box .input.active input {
        width: 100%;
        padding: .65rem;
    }

    .search-box .input .icon:hover, .input.active .icon {
        background: var(--secondary);
        color: white;
    }

    .search-box button span {
        display: none;
    }

    
}